/* Frame 2 */
.mãe





.inicio.img{

position: relative;
width: 1280px;
height: 2954px;

background: #FFFFFF;
}


/* second part */
.inicio.a{

position: absolute;
width: 1192px;
height: 804px;
left: 59px;
top: 1908px;
}


/* Grupo Estetica */
.inicio.h2{

position: absolute;
width: 333.67px;
height: 343.19px;
left: 66.92px;
top: 1996.69px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Adoramos ver sorrisos felizes */
.inicio.h3{
position: absolute;
width: 373px;
height: 30.04px;
left: 770px;
top: 166.19px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

text-align: center;

color: #000000;


}


/* Vamos fazer da sua saúde bucal uma prioridade! */
.inicio.h1{
position: absolute;
width: 589px;
height: 255.32px;
left: 677px;
top: 190.22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 85px;
text-align: center;

color: #000000;


}


.QueSomos.img{
    color: #000000;
}


/* DentalClinic é cirurgião dentista com experiência de mais de 15 anos e conta com uma equipe de profissionais formada por especialistas em diferentes áreas da odontologia, que trabalham visando sempre o melhor resultado estético e funcional para os casos clínicos planejados. Nossa filosofia é buscar sempre o aprimoramento técnico científico aliado ao atendimento humanizado, com equipamentos de alta tecnologia do mercado, que proporciona o tratamento mais adequado a todos os pacientes! Unimos tradição e tecnologia, ao oferecer um modelo de tratamento diferenciando, que garante sucesso nos resultados, */
.QueSomos.p{

position: absolute;
width: 505px;
height: 431px;
left: 36px;
top: 1432px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;

color: #000000;
}
/* Tratamentos para transformar o seu sorriso */
.Tratamentos.h2{

    position: absolute;
    width: 517.83px;
    height: 75.19px;
    left: 59px;
    top: 1908px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    
    color: #000000;
    
    } 
    
    
    
    /* Odontologia Estética */
    .Tratamentos.h3{
    
    position: absolute;
    width: 239.42px;
    height: 23.14px;
    left: 78.83px;
    top: 2202.03px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    
    }
    
    
    .rodape.h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
        
    color: #000000;
    
    }
    
    
    .rodape.h2{
        
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
            
    color: #000000;
    
    }
    
    
    .rodape.a{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
            
    color: #000000;
    
    }